#title {
  text-align: center;
  font-size: 50px;
}

#description {
  text-align: center;
  font-size: 16px;
  margin-left: 25%;
  margin-right: 25%;
}

#texter-1 {
  width: 160px;
  height: 120px;
}
