@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito:wght@300&family=Open+Sans+Condensed:wght@300&family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Fredoka+One&family=Shrikhand&display=swap");
@font-face {
  font-family: "San Francisco";
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}
#title {
  text-align: center;
  font-size: 60px;
  font-family: "Rampart One", Arial;
  font-weight: normal;
  /* box-shadow: 0px 5px 5px; */
  /* filter: drop-shadow(0px 20px 2px black); */
}

#description {
  text-align: center;
  font-size: 18px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10px;
  margin-top: -25px;
  font-family: "Nunito", Arial;
}
.descriptions {
  text-align: center;
  font-size: 14px;
  font-family: "Nunito", Arial;
}

.texts-table {
  width: 80vw;
  align-content: center;
  margin-top: -50px;
}

#text-addy {
  display: block;
  aspect-ratio: 2.78 / 1;
  width: 20vw;
  margin-left: 10vw;
}

#text-byob {
  display: block;
  aspect-ratio: 2.16 / 1;
  width: 20vw;
}

#text-friends {
  display: block;
  aspect-ratio: 4.12 / 1;
  width: 20vw;
}

#text-vibe {
  display: block;
  aspect-ratio: 4.27 / 1;
  width: 20vw;
  margin-right: 10vw;
}

.table-labels {
  font-family: "Patua One", Arial;
  font-size: 18px;
}

#byob-options {
  font-family: "San Francisco", Arial;
  font-size: 14px;
  border-radius: 5px;
  background-color: #3ba3fc;
  color: white;
}

#vibe-options {
  font-family: "San Francisco", Arial;
  font-size: 14px;
  border-radius: 5px;
  background-color: #e5e5ec;
}

#invite-options {
  font-family: "San Francisco", Arial;
  font-size: 14px;
  border-radius: 5px;
  background-color: #e5e5ec;
}

#preview-text {
  font-family: "San Francisco", Arial;
  font-size: 14px;
  background-color: #e5e5ec;
  border-radius: 5px;
  position: relative;
}

input[type="text"] {
  font-family: "San Francisco", Arial;
  font-size: 14px;
  border-radius: 5px;
}

input[type="datetime-local"] {
  font-family: "San Francisco", Arial;
  font-size: 14px;
  border-radius: 5px;
}

#options-table {
  align-content: left;
}

#everything-table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
}

.share-images {
  width: 25px;
  height: 25px;
}

.share-buttons {
  background-color: white;
  border-style: none;
}

.share-images-flyer {
  width: 35px;
  height: 35px;
}

.share-buttons-flyer {
  background-color: white;
  border-style: none;
}

#address {
  background-color: #e5e5ec;
}

#time {
  background-color: #3ba3fc;
  color: white;
}

#share-table {
  position: absolute;
  left: 120px;
}

#preview-label {
  font-family: "Patua One", Arial;
  font-size: 18px;
}

#flyer-table {
  background-color: #3ba3fc;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  text-align: center;
  font-size: 28px;
  font-family: "Boogaloo", Arial;
  font-weight: bolder;
  color: white;
  position: relative;
}

#flyer-everything {
  margin-left: 3vw;
}

#flyer-title {
  font-size: 45px;
}
#flyer-time {
  font-size: 24px;
  padding-bottom: 100px;
}

#flyer-byob {
  font-family: "Patua One", Arial;
  font-weight: bold;
  font-size: 20px;
}

#flyer-invite {
  font-family: "Patua One", Arial;
  font-weight: bold;
  font-size: 18px;
}

#flyer-venmo {
  font-family: "Patua One", Arial;
  font-weight: bold;
  font-size: 18px;
}

#watermark {
  font-size: 18px;
  font-family: "Rampart One", Arial;
  text-align: right;
}

.padding-between-cols td {
  padding: 5px 5px;
}
