#title {
  text-align: center;
  font-size: 50px;
}

#description {
  text-align: center;
  font-size: 16px;
  margin-left: 25%;
  margin-right: 25%;
}

.texters {
  width: 160px;
  height: 120px;
}

.texters-table {
  width: 80%;
  margin-left: 50%;
  margin-right: auto;
}
